@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 810;
}

.sighttitle {
    height: 810px;
    background-repeat: no-repeat;
    background-size: cover;
}

.fonttittle {
    color: #fff;
    position: absolute;
    width: 364px;
    height: 206px;
    left: 122px;
    top: 170px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 170px;
    line-height: 199px;
}

.podfonttittle {
    color: #fff;
    position: absolute;
    width: 560px;
    height: 29px;
    left: 122px;
    top: 361px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.autoriz {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 30px;
    position: absolute;
    width: 200px;
    height: 60px;
    left: 122px;
    top: 430px;
}

.info {
    position: absolute;
    top: 640px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    width: 1000px;
    height: 650px;
}

.shapka {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 70px;
    color: white;
}

.shapkatitle {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 40px;
    color: aquamarine;
}

.shapkatext {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 30px;
}

#square {
    position: absolute;
    top: 630px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    width: 1020px;
    height: 670px;
    background: #02E6C0;
}